{
	CFBundleExecutable = MobileTSS;
	CFBundleIconFile = "Icon.png";
	CFBundleIdentifier = "org.haifisch.MobileTSS";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	"CFBundleSupportedPlatforms" = (
		iPhoneOS,
	);
	UIDeviceFamily = (
		1,
		2,
	);
	CFBundleVersion = "1.0";
	DTPlatformName = iphoneos;
	DTSDKName = "iphoneos6.0";
	LSRequiresIPhoneOS = 1;
	MinimumOSVersion = "6.0";
	CFBundleDisplayName = "Mobile TSS";
	UIPrerenderedIcon = YES;
	"UISupportedInterfaceOrientations" = (
		"UIInterfaceOrientationPortrait",
		"UIInterfaceOrientationLandscapeLeft",
		"UIInterfaceOrientationLandscapeRight",
	);
}